[Unit]
Description=AutoRebooter - reboot if no internet

[Service]
Type=oneshot
ExecStart=/usr/local/bin/reboot_if_no_internet.py

[Install]
WantedBy=multi-user.target



