[Unit]
Description=AutoRebooter - reboot if no internet
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/reboot_if_no_internet.py

[Install]
WantedBy=multi-user.target



